@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body {
  background-image: url('./assets/Background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: 'VT323', monospace;
}

.rpg-header {
  display: flex;
  justify-content: space-between; /* Spread out the buttons */
  align-items: center;
  padding: 10px 5%; /* Padding on the left and right for some space */
  background-color: rgba(255, 255, 255, 0.1); /* Transparency */
  position: sticky; /* Make the header sticky */
  top: 0; /* Stick it to the top of the page */
  z-index: 1000; /* Ensure it stays on top of other elements */
  width: 100%; /* Ensure it takes the full width */
  padding: 10px 3%;
}

.rpg-button {
  font-family: 'VT323', monospace;
  padding: 10px 20px;
  background-color: #3e3e3e;
  border: 2px solid #aaa;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s, transform 0.1s;
  flex-grow: 1; /* Allow the buttons to grow and take available space */
  text-align: center; /* Center the text on the button */
  margin: 0 5px;
}

.rpg-button:hover {
  background-color: #5e5e5e;
  transform: scale(1.05);
}

.rpg-button:active {
  transform: scale(0.95);
}

.rpg-button.active {
  border-color: #f5a623;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home-container {
  display: flex;
  height: 75vh;
  padding: 20px; /* Added some padding to give space from edges */
}

.left-box, .right-box {
  border-radius: 10px;
  padding: 20px;
  background: linear-gradient(to bottom, rgba(2, 157, 182, 0.95), rgba(2, 157, 182, 0.95));
  overflow: auto; /* If content grows, allow scroll */
}

.left-box {
  flex: 1;
  margin-right: 10px;
}

.sprite {
  width: 100%;
  max-width: 150px;
  display: block;
  margin: 0 auto 20px auto; /* Added margin to the bottom */
}

.xp-section {
  margin-top: 20px;
}

.right-box {
  flex: 2;
}

.todo-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}


/* LOGIN PAGE */

/* Container for the login form */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Styling the login form */
.login-form {
  background: rgba(2, 157, 182, 0.95);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styling the input fields */
.login-input {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 2px solid #aaa;
  font-family: 'VT323', monospace;
}

/* Styling the login button */
.login-button {
  background-color: #3e3e3e;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'VT323', monospace;
  transition: background-color 0.3s, transform 0.1s;
}

.login-button:hover {
  background-color: #5e5e5e;
  transform: scale(1.05);
}

.login-button:active {
  transform: scale(0.95);
}

/* Styling the registration link */
.register-link {
  margin-top: 20px;
  color: #fff;
  font-family: 'VT323', monospace;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}


/* CREATE ACCOUNT

/* Container for the registration form */
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Styling the registration form */
.register-form {
  background: rgba(2, 157, 182, 0.95);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styling the input fields and select dropdown */
.register-input {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 2px solid #aaa;
  font-family: 'VT323', monospace;
}

/* Styling the registration button */
.register-button {
  background-color: #3e3e3e;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'VT323', monospace;
  transition: background-color 0.3s, transform 0.1s;
}

.register-button:hover {
  background-color: #5e5e5e;
  transform: scale(1.05);
}

.register-button:active {
  transform: scale(0.95);
}

/* Styling the login link */
.login-link {
  margin-top: 20px;
  color: #fff;
  font-family: 'VT323', monospace;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

/* Styling the message */
.register-message {
  color: #fff;
  font-family: 'VT323', monospace;
}
