/* Google font */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.rpg-header {
  display: flex;
  justify-content: space-between; /* Spread out the buttons */
  align-items: center;
  padding: 10px 5%; /* Padding on the left and right for some space */
  background-color: rgba(255, 255, 255, 0.1); /* Transparency */
  position: sticky; /* Make the header sticky */
  top: 0; /* Stick it to the top of the page */
  z-index: 1000; /* Ensure it stays on top of other elements */
  width: 100%; /* Ensure it takes the full width */
}

.rpg-button {
  font-family: 'VT323', monospace;
  padding: 10px 20px;
  background-color: #3e3e3e;
  border: 2px solid #aaa;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s, transform 0.1s;
  flex-grow: 1; /* Allow the buttons to grow and take available space */
  text-align: center; /* Center the text on the button */
}

.rpg-button:hover {
  background-color: #5e5e5e;
  transform: scale(1.05);
}

.rpg-button:active {
  transform: scale(0.95);
}

.rpg-button.active {
  border-color: #f5a623;
}
